{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}


{% block body %}
<div class="container">
	<!--Titre du stage-->
	<div class="row">
		<div class="col-md-12">
			<div class="card text-white bg-secondary">
			  <div class="card-body">
				<h1>{stage.intitule}</h1>
			  </div>
			</div>
		</div>
	</div>
	<!--Informations générales de l'entreprise-->
	<div class="row">
		<div class="col-md-12">
			<div class="card">
			  <div class="card-body">
				<p>
					<h3>Entreprise :</h3>
					{stage.entreprise.nom}<br>
					Activité = {stage.entreprise.activite}<br>
				</p>
			  </div>
			</div>			
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
			  <div class="card-body">
				<!--Description du stage-->
				<p>
					<h3>Description du stage :</h3>
					{stage.mission}<br>
				</p>
				<!--Formations-->
				<p>
					<h3>Stage proposé pour les formations :</h3>
					{% for formationCourante in stage.formations %}
						{{formationCourante.nom}}, 
					{% endfor %}
				</p>
			  </div>
			</div>
			
		</div>
	</div>
	<!--Coordonnées entreprise-->
	<div class="row">
		<div class="col-md-12">
			<div class="card">
			  <div class="card-body">
				<p>
					<h3>Coordonnées :</h3>
					{stage.entreprise.adresse}<br>
					{stage.email}<br>
				</p>
			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}